/* Home navbar */
.home-navbar {
    width: 100%;
    height: 800px;
    display: flex;
    background: url("/public/img/jewelry.jpg");
    background-size: cover;
    background-position: top;
}

.home-navbar .navbar-container {
    margin-top: 20px;
}

.home-navbar .navbar-container .name-left {
    position: absolute;
    width: 350px;
    height: 100px;
    margin-top: 400px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.home-navbar .navbar-container .name-right {
    position: absolute;
    width: 450px;
    height: 100px;
    margin-top: 400px;
    margin-left: 900px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.home-navbar .navbar-container .top-bar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-navbar .navbar-container .top-bar .left-bar {
    width: 900px;
    margin-top: 5px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-navbar .navbar-container .top-bar .left-bar .aureum {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.home-navbar .navbar-container .top-bar .left-bar .txt {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.home-navbar .navbar-container .top-bar .right-bar {
    width: 500px;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.home-navbar .navbar-container .top-bar .right-bar .my .my-link .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 24px;
}

.home-navbar .navbar-container .top-bar .right-bar .like-save {
    width: 50px;
    height: 25px;
    margin-top: 11px;
    margin-right: -6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-navbar .navbar-container .top-bar .right-bar .signup-login {
    width: 130px;
    height: 25px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-navbar .navbar-container .top-bar .right-bar .like-save .like-link {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.home-navbar .navbar-container .top-bar .right-bar .like-save .save-link {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.home-navbar .navbar-container .top-bar .right-bar .signup-login .signup-link {
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.home-navbar .navbar-container .top-bar .right-bar .signup-login .login-link {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.home-navbar .navbar-container .top-bar .right-bar .like-save {
    margin-right: 30px;
}

.home-navbar .navbar-container .top-bar .right-bar .like-save .like-link {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.home-navbar .navbar-container .top-bar .right-bar .my {
    width: 40px;
    height: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 24px;
}

/* Other Navbar */
.other-navbar {
    width: 100%;
    height: 400px;
    display: flex;
    background: url("/public/img/fon2.jpg");
    background-size: cover;
    background-position: center;
}

.other-navbar .other-container .top-bar {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.other-navbar .other-container .top-bar .left {
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.other-navbar .other-container .top-bar .left .aureum {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.other-navbar .other-container .top-bar .left .txt {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.other-navbar .other-container .top-bar .right {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.other-navbar .other-container .top-bar .right .my {
    margin-bottom: 20px;
}

.other-navbar .other-container .top-bar .right .my .my-link .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 24px;
}

.other-navbar .other-container .top-bar .right .like-save {
    width: 50px;
    height: 25px;
    margin-top: 11px;
    margin-right: -6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.other-navbar .other-container .top-bar .right .signup-login {
    width: 130px;
    height: 25px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.other-navbar .other-container .top-bar .right .like-save {
    margin-right: 30px;
}

.other-navbar .other-container .top-bar .right .like-save .like-link {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.other-navbar .other-container .top-bar .right .signup-login .signup-link {
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.other-navbar .other-container .top-bar .right .signup-login .login-link {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.other-navbar .other-container .top-bar .right.like-save .like-link {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.other-navbar .other-container .top-bar .right .my {
    width: 40px;
    height: 40px;
    margin-left: 50px;
    border-radius: 24px;
}

.other-navbar .other-container .text .text-big {
    position: absolute;
    top: 150px;
    right: 900px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-wrap: nowrap;
}

.other-navbar .other-container .text .text-small {
    position: absolute;
    top: 230px;
    right: 980px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-wrap: nowrap;
}

/* BASKET */

.basket-frame {
    position: relative;
    padding: 10px 4px 0px 4px;
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #f8f8ff;
    border-radius: 16px;
}

.basket-frame .all-check-box {
    padding: 0px 6px;
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #343434;
}

.basket-frame .basket-info-box {
    position: relative;
    margin-top: 6px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.basket-info-box .product-img {
    width: 60px;
    height: 60px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    border-radius: 29px;
}

.basket-info-box .product-name {
    margin-left: 11px;
    width: 185px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.basket-info-box .product-price {
    width: 80px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #ae0000;
}

.basket-info-box .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 6.5px 14px;
}

.basket-info-box .css-ece9u5 {
    min-width: 72px;
}

.basket-frame .cancel-btn {
    position: absolute;
    top: 33%;
    right: 2%;
    cursor: pointer;
}

.basket-frame .basket-order {
    margin-top: 10px;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.basket-order .price {
    width: 200px;
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.basket-frame .orders-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.basket-frame .orders-wrapper::-webkit-scrollbar {
    width: 10px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.basket-frame .orders-main-wrapper {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
}