.order-page {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

/*  */
.order-page .order-container {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
}

.order-page .order-container .order .order-nav-frame {
    width: 679px;
    height: 49px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.order-page .order-container .order .order-nav-frame .table-list {
    width: 679px;
    margin-top: 10px;
}

.order-page .order-container .order-right {
    width: 100%;
    height: auto;
    margin-top: 129px;
    display: flex;
    flex-direction: column;
}

.order-page .order-container .order-right .order-info-box {
    width: 372px;
    height: 308px;
    margin-left: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #F8F8FE;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.order-page .order-container .order-right .order-info-box .member-box {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-page .order-container .order-right .order-info-box .member-box .order-user-img {
    width: 117px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.order-page .order-container .order-right .order-info-box .member-box .order-user-img .order-user-avatar {
    width: 117px;
    height: 112px;
    border-radius: 2rem;
}

.order-page .order-container .order-right .order-info-box .member-box .order-user-img .order-user-prof {
    position: absolute;
    margin-left: 90px;
    width: 20px;
    height: 20px;
}

.order-page .order-container .order-right .order-info-box .member-box .order-user-name {
    width: 76px;
    height: 37px;
    display: flex;
    justify-content: center;
    font-family: Commissioner;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #08090D;
}

.order-page .order-container .order-right .order-info-box .member-box .order-user-prof {
    width: 61px;
    height: 37px;
    display: flex;
    justify-content: center;
    font-family: Commissioner;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #A1A1A1;
}

.order-page .order-container .order-right .order-info-box .liner {
    width: 333px;
    height: 2px;
    margin-bottom: 10px;
    background: #A1A1A1;
}

/* Card Info */
.order-page .order-container .order-right .info-card {
    width: 372px;
    height: 253px;
    margin-top: 25px;
    margin-left: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    background: #F8F8FE;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.order-page .order-container .order-right .info-card .card-num-input {
    width: 332px;
    height: 40px;
    padding-left: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.order-page .order-container .order-right .info-card .small-input .card-code-input {
    width: 162px;
    height: 40px;
    padding-left: 10px;
    margin-right: 4px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.order-page .order-container .order-right .info-card .small-input .card-cvv-input {
    width: 162px;
    height: 40px;
    padding-left: 10px;
    padding-left: 10px;
    margin-left: 4px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.order-page .order-container .order-right .info-card .card-name-input {
    width: 332px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Order page */

.order-page .order-container .order-main-context {
    width: 100%;
    height: auto;
    margin-left: -100px;
}

.order-page .order-container .order-main-context .order-main-box {
    width: 841px;
    height: auto;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: #F8F8FE;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.order-page .order-container .order-main-context .order-main-box .order-box-scroll .orders-name-price {
    width: 100%;
    height: 140px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-page .order-container .order-main-context .order-main-box .order-box-scroll .orders-name-price .box-img {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-page .order-container .order-main-context .order-main-box .order-box-scroll .orders-name-price .price-box {
    margin-right: 117px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.order-page .order-container .order-main-context .order-main-box .order-box-scroll .orders-name-price .price-box .jewelry-price {
    align-items: center;
    font-family: Commissioner;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #000;
    gap: 20px;
}

.order-page .order-container .order-main-context .order-main-box .order-box-scroll .orders-name-price .price-box .jewelry-quantity {
    align-items: center;
    font-family: Commissioner;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #000;
    gap: 20px;
}

.order-page .order-container .order-main-context .order-main-box .order-box-scroll .orders-name-price .price-box .jewelry-total {
    align-items: center;
    font-family: Commissioner;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #000;
    gap: 20px;
}

.order-page .order-container .order-main-context .order-main-box .order-box-scroll .orders-name-price .order-dish-img {
    width: 100px;
    height: 100px;
    margin-left: 40px;
    border-radius: 29px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.order-page .order-container .order-main-context .order-main-box .order-box-scroll .orders-name-price .title-dish {
    width: 120px;
    height: 36px;
    font-family: Commissioner;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #000;
}

.order-page .order-container .order-main-context .order-main-box .order-box-scroll .orders-name-price .title-gender {
    width: 50px;
    height: 36px;
    font-family: Commissioner;
    font-size: 18px;
    font-style: normal;
    font-weight: lighter;
    line-height: 36px;
    color: #000;
}

.order-page .order-container .order-main-context .order-main-box .total-price-box {
    width: 100%;
    height: 22px;
    margin-top: 50px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.order-page .order-container .order-main-context .order-main-box .total-price-box .box-total {
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Commissioner;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #000;
    gap: 20px;
}

.order-page .order-container .order-main-context .order-main-box .total-price-box .cancel-button {
    width: 70px;
    height: 30px;
    font-family: Commissioner;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    background: #c80000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #ffffff;
}

.order-page .order-container .order-main-context .order-main-box .total-price-box .payment-button {
    width: 70px;
    height: 30px;
    font-family: Commissioner;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    background: #cecece;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #5c5c5c;
}

.order-page .order-container .order-main-context .order-main-box .total-price-box .verify-button {
    width: 100px;
    height: 36px;
    text-wrap: nowrap;
    font-family: Commissioner;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    background: #0057a3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #FFF;
}